<% content_for :title do %>Trang Quản Trị Phật Giáo Định Quán<% end %>
<div class="note note-info">
    <%= image_tag '/img/img-dashboard.jpg', alt: 'Phật Giáo Định Quán', class: 'img-dashboard' %>
</div>