<div class="main-content tie-col-md-8 tie-col-xs-12" role="main">                                    
    <div id="tie-block_1810" class="mag-box tie-col-sm-6 half-box has-first-big-post has-custom-color first-half-box">
        <div class="container-wrapper">
            <div class="mag-box-title the-global-title">
                <h3>Hoạt Động Phật Giáo</h3>
            </div>
            <div class="mag-box-container clearfix">
                <ul class="posts-items posts-list-container">
                    <li class="post-item is-trending">
                        <a aria-label="" href="" class="post-thumb">
                            <span class="trending-post fa fa-bolt trending-lg" aria-hidden="true"></span>
                            <span class="post-cat-wrap"><span class="post-cat tie-cat-48">Phật giáo Định Quán</span></span>
                            <img width="390" height="220" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII=" class="attachment-jannah-image-large size-jannah-image-large lazy-img wp-post-image" alt="" data-src="img/tmp/garrett-parker-1-390x220.jpg" />
                        </a> 
                        <div class="post-details">
                            <div class="post-meta clearfix">
                                <span class="single-author no-avatars">
                                    <span class="meta-item meta-author-wrapper">
                                        <span class="meta-author">
                                            <a href="" class="author-name" title="Ashraf Reda">
                                                <span class="fa fa-user" aria-hidden="true"></span> Phật Giáo Định Quán
                                            </a>
                                        </span>
                                    </span>
                                </span>
                                <span class="date meta-item fa-before">15-08-2020</span>
                            </div>
                            <h2 class="post-title"><a href="">Lễ tấn đàn Tỳ kheo tại Đại giới đàn Trí...</a></h2>
                            <p class="post-excerpt">Chiều ngày 22/7 và ngày 23/07/2020, tại giới trường chùa Long Khánh đã diễn ra lễ tấn đàn Tỳ kheo cho các giới tử Tăng...</p>
                            <a class="more-link button" href="">Đọc tiếp</a> 
                        </div>
                    </li>
                    <% (0..4).each do |article| %>
                    <li class="post-item tie-slider">
                        <a aria-label="" href="" class="post-thumb">
                            <img width="220" height="150" src="/img/tmp/image7-220x150.jpg" class="attachment-jannah-image-small size-jannah-image-small lazy-img tie-small-image wp-post-image lazy-done" alt="" loading="lazy">
                        </a>
                        <div class="post-details">
                            <div class="post-meta clearfix"><span class="date meta-item fa-before">15-08-2020</span></div>
                            <h2 class="post-title"><a href="">Lễ tấn đàn Tỳ kheo tại Đại giới đàn Trí...</a></h2>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="tie-block_304" class="mag-box tie-col-sm-6 half-box has-first-big-post has-custom-color second-half-box">
        <div class="container-wrapper">
            <div class="mag-box-title the-global-title">
                <h3>Hoạt Động Ban Ngành</h3>
            </div>
            <div class="mag-box-container clearfix">
                <ul class="posts-items posts-list-container">
                    <li class="post-item is-trending">
                        <a aria-label="" href="" class="post-thumb">
                            <span class="trending-post fa fa-bolt trending-lg" aria-hidden="true"></span>
                            <span class="post-cat-wrap"><span class="post-cat tie-cat-48">Phật giáo Định Quán</span></span>
                            <img width="390" height="220" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII=" class="attachment-jannah-image-large size-jannah-image-large lazy-img wp-post-image" alt="" data-src="img/tmp/garrett-parker-1-390x220.jpg" />
                        </a> 
                        <div class="post-details">
                            <div class="post-meta clearfix">
                                <span class="single-author no-avatars">
                                    <span class="meta-item meta-author-wrapper">
                                        <span class="meta-author">
                                            <a href="" class="author-name" title="Ashraf Reda">
                                                <span class="fa fa-user" aria-hidden="true"></span> Phật Giáo Định Quán
                                            </a>
                                        </span>
                                    </span>
                                </span>
                                <span class="date meta-item fa-before">15-08-2020</span>
                            </div>
                            <h2 class="post-title">
                                <a href="">Lễ tấn đàn Tỳ kheo tại Đại giới đàn Trí...</a>
                            </h2>
                            <p class="post-excerpt">Chiều ngày 22/7 và ngày 23/07/2020, tại giới trường chùa Long Khánh đã diễn ra lễ tấn đàn Tỳ kheo cho các giới tử Tăng...</p>
                            <a class="more-link button" href="">Đọc tiếp</a> 
                        </div>
                    </li>
                    <% (0..4).each do |article| %>
                    <li class="post-item tie-slider">
                        <a aria-label="" href="" class="post-thumb">
                            <img width="220" height="150" src="img/tmp/image7-220x150.jpg" class="attachment-jannah-image-small size-jannah-image-small lazy-img tie-small-image wp-post-image lazy-done" alt="Photo of Ice Cream Maker Free Chocolate" loading="lazy">
                        </a>
                        <div class="post-details">
                            <div class="post-meta clearfix">
                                <span class="date meta-item fa-before">15-08-2020</span>
                            </div>
                            <h2 class="post-title">
                                <a href="">Lễ tấn đàn Tỳ kheo tại Đại giới đàn Trí Hải - Bích Liên</a>
                            </h2>
                        </div>
                    </li>
                    <% end %>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="tie-s_1441" class="mag-box scrolling-box">
        <div class="container-wrapper">
            <div class="mag-box-title the-global-title">
                <h3>Phật Học và Đời Sống</h3>
                <div class="tie-alignright"><div class="mag-box-options"><ul class="slider-arrow-nav"></ul></div></div>
            </div>
            <div class="mag-box-container clearfix">
                <div class="loader-overlay"><div class="spinner-circle"></div></div>
                <div class="scrolling-slider scrolling-box-slider">
                    <% (0..12).each do |article| %>
                    <div class="slide tie-video">
                        <div class="slide-img">
                            <a aria-label="" href="" class="post-thumb">
                            <img width="390" height="220" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYYAAADcAQMAAABOLJSDAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaIHtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAA4N8AKvgAAUFIrrEAAAAASUVORK5CYII="
                                class="attachment-jannah-image-large size-jannah-image-large lazy-img wp-post-image"
                                alt="" data-src="/img/tmp/7040731-cam-newton-390x220.jpg" /></a>
                        </div>
                        <div class="slide-content">
                            <div class="post-meta clearfix">
                                <span class="date meta-item fa-before">08-11-2020</span>
                            </div>
                            <h2 class="post-title"><a href="">Lễ tấn đàn Tỳ kheo tại Đại giới đàn Trí Hải - Bích Liên</a></h2>
                            <div class="post-meta"></div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>                                        
</div>