<div class="pages-nav">
    <div class="pages-numbers pages-standard">
        <span class="first-page first-last-pages"></span>
        <span class="last-page first-last-pages">
            <a href=""><span class="fa" aria-hidden="true"></span>Trang 2</a>
        </span>
    </div>
</div>