<div class="tie-col-md-8 stream-item stream-item-top-wrapper">
    <div class="stream-item-top">
        <%= link_to image_tag('/img/events/banner-vu-lan-2020.jpg', size: '728x90', alt: 'Đại Lễ Vu Lan 2020 PL. 2564', title: 'Đại Lễ Vu Lan 2020 PL. 2564'),
            '', title: 'Đại Lễ Vu Lan 2020 PL. 2564', rel: 'nofollow noopener' %>
    </div>
</div>