<div class="container-wrapper tabs-container-wrapper tabs-container-4">
    <div class="widget tabs-widget">
        <div class="widget-container">
            <div class="tabs-widget">
                <div class="tabs-wrapper">
                    <ul class="tabs">
                        <li><a href="#widget_tabs-2-popular">Popular</a></li>
                        <li><a href="#widget_tabs-2-recent">Recent</a></li>
                        <li><a href="#widget_tabs-2-comments">Comments</a></li>
                    </ul>
                    <div id="widget_tabs-2-popular" class="tab-content tab-content-popular">
                        <ul class="tab-content-elements">
                            <% (0..4).each do |article| %>
                            <li class="widget-post-list is-trending tie-video">
                                <div class="post-widget-thumbnail"> <a aria-label="Success is not a good teacher failure makes you humble" href="../2016/10/28/success-is-not-a-good-teacher-failure-makes-you-humble/" class="post-thumb"><img width="220" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABLAQMAAACr9CA9AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABZJREFUOI1jYMADmEe5o9xR7iiXQi4A4BsA388WUyMAAAAASUVORK5CYII=" class="attachment-jannah-image-small size-jannah-image-small lazy-img tie-small-image wp-post-image" alt="Photo of Success is not a good teacher failure makes you humble" data-src="img/tmp/demo-jannah-3-1-220x150.jpg" /></a> </div>
                                <div class="post-widget-body ">
                                    <h3 class="post-title"><a href="../2016/10/28/success-is-not-a-good-teacher-failure-makes-you-humble/">Success is not a good teacher failure makes you humble</a></h3>
                                    <div class="post-meta"> <span class="date meta-item fa-before">Oct 28, 2016</span> </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div id="widget_tabs-2-recent" class="tab-content tab-content-recent">
                        <ul class="tab-content-elements">
                            <% (0..4).each do |article| %>
                            <li class="widget-post-list is-trending tie-video">
                                <div class="post-widget-thumbnail">
                                    <a aria-label="" href="" class="post-thumb">
                                        <img width="220" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABLAQMAAACr9CA9AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABZJREFUOI1jYMADmEe5o9xR7iiXQi4A4BsA388WUyMAAAAASUVORK5CYII=" class="attachment-jannah-image-small size-jannah-image-small lazy-img tie-small-image wp-post-image" alt="" data-src="/img/tmp/demo-jannah-3-1-220x150.jpg" />
                                    </a>
                                </div>
                                <div class="post-widget-body ">
                                    <h3 class="post-title"><a href="">Success is not a good teacher failure makes you humble</a></h3>
                                    <div class="post-meta"><span class="date meta-item fa-before">Oct 28, 2016</span> </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div id="widget_tabs-2-comments" class="tab-content tab-content-comments">
                        <ul class="tab-content-elements">
                            <% (0..4).each do |article| %>
                            <li class="widget-post-list is-trending tie-video">
                                <div class="post-widget-thumbnail">
                                    <a aria-label="" href="" class="post-thumb">
                                        <img width="220" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABLAQMAAACr9CA9AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABZJREFUOI1jYMADmEe5o9xR7iiXQi4A4BsA388WUyMAAAAASUVORK5CYII=" class="attachment-jannah-image-small size-jannah-image-small lazy-img tie-small-image wp-post-image" alt="" data-src="img/tmp/demo-jannah-3-1-220x150.jpg" />
                                    </a>
                                </div>
                                <div class="post-widget-body ">
                                    <h3 class="post-title">
                                        <a href="">Success is not a good teacher failure makes you humble</a>
                                    </h3>
                                    <div class="post-meta"> <span class="date meta-item fa-before">Oct 28, 2016</span> </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>