<% content_for :metas do %>
<meta property="og:locale" content="vi" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán"/>
<meta property="og:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta property="og:url" content="https://phatgiaodinhquan.org/"/>
<meta property="og:site_name" content="Phật Giáo Định Quán" />
<meta property="og:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<meta property="og:image:alt" content="Phật Giáo Định Quán"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="560"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://phatgiaodinhquan.org/"/>
<meta name="twitter:title" content="Phật Giáo Định Quán | Trang Tin Phật Sự Online Huyện Định Quán" />
<meta name="twitter:description" content="Trang tin Phật Sự Online cập nhật những thông tin, hình ảnh, hoạt động Ban ngành, hoạt động Phật Sự tại huyện Định Quán, tỉnh Đồng Nai."/>
<meta name="twitter:image" content="https://phatgiaodinhquan.org/img/social-share.jpg"/>
<meta name="twitter:image:alt" content="Phật Giáo Định Quán"/>
<% end %>

<!-- <div class="tie-alignright">
    <span class="meta-comment tie-icon meta-item fa-before">1</span>
    <span class="meta-views meta-item warm">
        <span class="tie-icon-fire" aria-hidden="true"></span> 1,344 
    </span>
</div> -->


<div class="tie-alignright">
    <span class="meta-comment tie-icon meta-item fa-before">3</span>
    <span class="meta-views meta-item very-hot">
        <span class="tie-icon-fire" aria-hidden="true"></span> Có 300 lượt xem
    </span>
</div>


<div class="tie-alignright">
    <span class="meta-comment tie-icon meta-item fa-before">1</span>
    <span class="meta-views meta-item warm">
        <span class="tie-icon-fire" aria-hidden="true"></span> 1,344 
    </span>
</div>

<div id="tiepost-1020-section-8509" class="section-wrapper container-full without-background">
    <div class="section-item full-width" style="" >
        <div class="container">
            <div class="tie-row main-content-row">
                <div class="main-content tie-col-md-12">
                    <section id="tie-block_3032" class="slider-area mag-box media-overlay">
                        <div class="slider-area-inner">
                            <div id="tie-main-slider-9-block_3032" class="tie-main-slider main-slider grid-2-big boxed-slider grid-slider-wrapper tie-slick-slider-wrapper" data-slider-id="9"  data-speed="3000">
                                <div class="main-slider-inner">
                                    <div class="containerblock_3032">
                                        <div class="tie-slick-slider">
                                            <ul class="tie-slider-nav"></ul>
                                            <div class="slide">
                                                <% (0..1).each do |article| %>
                                                    <div style="background-image:url(/img/tmp/19-780x470.jpg)" class="grid-item slide-id-976 tie-slide-2 tie-audio">
                                                        <a href="" class="all-over-thumb-link" aria-label="P"></a>
                                                        <div class="thumb-overlay">
                                                            <span class="tie-icon tie-media-icon"></span>
                                                            <span class="post-cat-wrap">
                                                                <a class="post-cat tie-cat-17" href="">Life Style</a>
                                                            </span>
                                                            <div class="thumb-content">
                                                                <div class="thumb-meta"><span class="date meta-item tie-icon">28-01-2021</span></div>
                                                                <h2 class="thumb-title">
                                                                    <a href="">Persuasion is often more effectual than force</a>
                                                                </h2>
                                                                <div class="thumb-desc">Stay focused and remember we design the best WordPress News and Magazine Themes. It’s the ones closest to you that&hellip;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                            <div class="slide">
                                                <% (0..1).each do |article| %>
                                                    <div style="background-image:url(/img/tmp/10-780x470.jpg)" class="grid-item slide-id-974 tie-slide-4 tie-slider">
                                                        <a href="" class="all-over-thumb-link" aria-label=""></a>
                                                        <div class="thumb-overlay">
                                                            <span class="tie-icon tie-media-icon"></span>
                                                            <span class="post-cat-wrap">
                                                                <a class="post-cat tie-cat-19" href="">Life Style</a>
                                                            </span>
                                                            <div class="thumb-content">
                                                                <div class="thumb-meta"><span class="date meta-item tie-icon">28-01-2021</span></div>
                                                                <h2 class="thumb-title">
                                                                    <a href="">Hibs and Ross County fans on final</a>
                                                                </h2>
                                                                <div class="thumb-desc">Stay focused and remember we design the best WordPress News and Magazine Themes. It’s the ones closest to you that&hellip;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","@id":"#Breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"http:\/\/localhost:8888\/jannah\/"}},{"@type":"ListItem","position":2,"item":{"name":"Life Style","@id":"http:\/\/localhost:8888\/jannah\/category\/tie-life-style\/"}}]}</script>


<script id="tie-schema-json" type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Article","dateCreated":"2021-01-27T06:46:11+00:00","datePublished":"2021-01-27T06:46:11+00:00","dateModified":"2021-01-27T06:46:11+00:00","headline":"The Future Of Possible","name":"The Future Of Possible","keywords":"Classic","url":"http:\/\/localhost:8888\/jannah\/2021\/01\/27\/the-future-of-possible-2\/","description":"Stay focused and remember we design the best WordPress News and Magazine Themes. It\u2019s the ones closest to you that want to see you fail. Another one. It\u2019s important to use cocoa butter. It\u2019s the key t","copyrightYear":"2021","articleSection":"Life Style","articleBody":"Stay focused and remember we design the best WordPress News and Magazine Themes. It\u2019s the ones closest to you that want to see you fail. Another one. It\u2019s important to use cocoa butter. It\u2019s the key to more success, why not live smooth? Why live rough? The key to success is to keep your head above the water, never give up. Watch your back, but more importantly when you get out the shower, dry your back, it\u2019s a cold world out there.\r\n\r\nThe key to more success is to have a lot of pillows. Always remember in the jungle there\u2019s a lot of they in there, after you overcome they, you will make it to paradise. Egg whites, turkey sausage, wheat toast, water. Of course they don\u2019t want us to eat our breakfast, so we are going to enjoy our breakfast. Watch your back, but more importantly when you get out the shower, dry your back, it\u2019s a cold world out there. To succeed you must believe. When you believe, you will succeed.\r\n\r\nDon\u2019t wait. The time will never be just right!\r\nYou should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. Surround yourself with angels. They never said winning was easy. Some people can\u2019t handle success, I can. Look at the sunset, life is amazing, life is beautiful, life is what you make it. Life is what you make it, so let\u2019s make it. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.\r\nGreat things in business are never done by one person. They're done by a team of people. Steve Jobs\r\n\r\n\r\n\r\nThey never said winning was easy. Some people can\u2019t handle success, I can. You see the hedges, how I got it shaped up? It\u2019s important to shape up your hedges, it\u2019s like getting a haircut, stay fresh. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Look at the sunset, life is amazing, life is beautiful, life is what you make it. Egg whites, turkey sausage, wheat toast, water. Of course they don\u2019t want us to eat our breakfast, so we are going to enjoy our breakfast.\r\nDoing the best at this moment puts you in the best place for the next moment! Oprah Winfrey\r\nGive thanks to the most high. You do know, you do know that they don\u2019t want you to have lunch. I\u2019m keeping it real with you, so what you going do is have lunch. Another one.\r\n\r\nEgg whites, turkey sausage, wheat toast, water. Of course they don\u2019t want us to eat our breakfast.\r\n\r\nIt took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I\u2019m never giving up, I\u2019m just getting started. The other day the grass was brown, now it\u2019s green because I ain\u2019t give up. Never surrender.\r\n\r\nMajor key, don\u2019t fall for the trap, stay focused. It\u2019s the ones closest to you that want to see you fail. Another one. It\u2019s important to use cocoa butter. It\u2019s the key to more success, why not live smooth? Why live rough? The key to success is to keep your head above the water, never give up. Watch your back, but more importantly when you get out the shower, dry your back, it\u2019s a cold world out there.\r\n\r\n\r\n\r\nSuccess is largely a matter of holding on after others have let go!\r\n\r\n \tA year from now you may wish you had started today.\r\n \tThe question isn\u2019t who is going to let me; it\u2019s who is going to stop me.\r\n \tSuccess is the sum of small efforts, repeated day-in and day-out.\r\n \tI find that the harder I work, the more luck I seem to have.\r\n \tIf people did not do silly things, nothing intelligent would ever get done.\r\n \tBefore anything else, preparation is the key to success.\r\n\r\nDon\u2019t ever play yourself. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, I\u2019m just getting started. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. It\u2019s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. I\u2019m up to something. They don\u2019t want us to win. Mogul talk. Look at the sunset, life is amazing, life is beautiful, life is what you make it.\r\n\r\n\r\n\r\nAction is the foundational key to all success\r\nIn life there will be road blocks but we will over come it. Another one. Learning is cool, but knowing is better, and I know the key to success. The key to more success is to get a massage once a week, very important, major key, cloth talk. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. I\u2019m up to something. Life is what you make it, so let\u2019s make it. The other day the grass was brown, now it\u2019s green because I ain\u2019t give up. Never surrender.\r\n\r\nYou see that bamboo behind me though, you see that bamboo? Ain\u2019t nothin\u2019 like bamboo. Bless up. Another one. Give thanks to the most high. A major key, never panic. Don\u2019t panic, when it gets crazy and rough, don\u2019t panic, stay calm. The key to more success is to have a lot of pillows. Eliptical talk. They key is to have every key, the key to open every door. Always remember in the jungle there\u2019s a lot of they in there, after you overcome they, you will make it to paradise.\r\nSuccess is how high you bounce when you hit bottom\r\nIn life there will be road blocks but we will over come it. Another one. Learning is cool, but knowing is better, and I know the key to success. The key to more success is to get a massage once a week, very important, major key, cloth talk. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. I\u2019m up to something. Life is what you make it, so let\u2019s make it. The other day the grass was brown, now it\u2019s green because I ain\u2019t give up. Never surrender.\r\n\r\nWraith talk. Congratulations, you played yourself. Stay focused. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. Learning is cool, but knowing is better, and I know the key to success. Let\u2019s see what Chef Dee got that they don\u2019t want us to eat. Cloth talk.\r\n\r\nThe key to more success is to have a lot of pillows. We the best. I\u2019m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. I\u2019m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Look at the sunset, life is amazing, life is beautiful, life is what you make it. The key to more success is to have a lot of pillows. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. You see the hedges, how I got it shaped up? It\u2019s important to shape up your hedges, it\u2019s like getting a haircut, stay fresh. The other day the grass was brown, now it\u2019s green because I ain\u2019t give up. Never surrender.\r\n\r\nGreat things in business are never done by one person. They're done by a team of people. Steve Jobs\r\nThey never said winning was easy. Some people can\u2019t handle success, I can. You see the hedges, how I got it shaped up? It\u2019s important to shape up your hedges, it\u2019s like getting a haircut, stay fresh. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Look at the sunset, life is amazing, life is beautiful, life is what you make it. Egg whites, turkey sausage, wheat toast, water. Of course they don\u2019t want us to eat our breakfast, so we are going to enjoy our breakfast.\r\n\r\nMajor key, don\u2019t fall for the trap, stay focused. It\u2019s the ones closest to you that want to see you fail. Another one. It\u2019s important to use cocoa butter. It\u2019s the key to more success, why not live smooth? Why live rough? The key to success is to keep your head above the water, never give up. Watch your back, but more importantly when you get out the shower, dry your back, it\u2019s a cold world out there.","publisher":{"@id":"#Publisher","@type":"Organization","name":"Ph\u1eadt Gi\u00e1o \u0110\u1ecbnh Qu\u00e1n","logo":{"@type":"ImageObject","url":"http:\/\/localhost:8888\/jannah\/wp-content\/uploads\/2021\/01\/logo.png"},"sameAs":["#a","#a","#a","#"]},"sourceOrganization":{"@id":"#Publisher"},"copyrightHolder":{"@id":"#Publisher"},"mainEntityOfPage":{"@type":"WebPage","@id":"http:\/\/localhost:8888\/jannah\/2021\/01\/27\/the-future-of-possible-2\/","breadcrumb":{"@id":"#Breadcrumb"}},"author":{"@type":"Person","name":"admin","url":"http:\/\/localhost:8888\/jannah\/author\/admin\/"},"image":{"@type":"ImageObject","url":"http:\/\/localhost:8888\/jannah\/wp-content\/uploads\/2021\/01\/19.jpg","width":1200,"height":684}}</script>